.content {
  position: relative;
  width: 95vw;
  height: 96vh;
  background-color: lightgray;
  margin-top: 0;
  margin-left: 2%;
  justify-content: center;
}   
.bottom {
  position: relative;
  width: 95vw;
  height: 96vh;
  background-color: aquamarine;
  margin-top: 80%;
  margin-left: 2%;
  justify-content: center;
}
/*DELETE LATER*/



.map {
  position: absolute;
  width: 95vw;
  height: 96vh;
  text-align: center;
  /*background-color: whitesmoke;*/
  border: 3px solid darkgreen;
  margin-top: auto;
  margin-left: 2%;
  justify-content: center;
}


/*_________________________Phase___1_________________________*/
.logo {
  width: 20%;
  height: 25%;   
  position: absolute;
  text-align: center;
  margin-left: 40%;
  margin-top: 20%;
}
.logo #logo1 {
  width: 40%;
  top: 20%;
  left: 2%;
  position: relative;     
}

.logo #logo2{
  position: absolute;
  top: 18.6%;
  left: 31.6%;
  width: 41%;
  opacity: 0;
  animation: appear1 1s normal 0.8s forwards ; 
}
@keyframes appear1{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.logo #logo3{
  position: absolute;
  top: 15.5%;
  left: 30%;
  width: 44%;
  opacity: 0;
  animation: appear2 1s normal 1.2s forwards ; 
}
@keyframes appear2{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.logo #logo4{
  position: absolute;
  top: 12.5%;
  left: 28%;
  width: 48%;
  opacity: 0;
  animation: appear3 1s normal 1.6s forwards;
}
@keyframes appear3{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}













