/*______________________PHASE__4__________________*/
.projects #epimEvent {
    position: absolute;
    pointer-events: none;
    width: 28%;
    top: 10.5%;
    left: 62.5%;
    opacity: 0;
    animation: events1 1s normal 4.8s forwards;
}
@keyframes events1 {
    from{
        opacity: 0;
    }
    to{        
        opacity: 1;        
    }
}

.projects #rhizEvent {
    position: absolute;
    pointer-events: none;
    width: 28%;
    top: 45.6%;
    left: 62.5%;
    opacity: 0;
    animation: events2 1s normal 5.2s forwards;
}
@keyframes events2 {
    from{
        opacity: 0;
    }
    to{        
        opacity: 1;        
    }
}
.projects #connectLine{
    width: 1.7%;
    position: absolute;
    top: 36.8%;
    left: 70%;
    transform:rotate(-22deg);
    opacity: 0;
    animation: events3 1s normal 5.6s forwards;
}
@keyframes events3 {
    from{
        opacity: 0;
    }
    to{        
        opacity: 1;        
    }
}



.projects #chicEvent {
    position: absolute;
    pointer-events: none;
    width: 32%;
    top: 63.5%;
    right: 40.8%;
    opacity: 0;
    animation: events3 1s normal 5.6s forwards;
}
@keyframes events3 {
    from{
        opacity: 0;
    }
    to{        
        opacity: 1;        
    }
}

.projects #artEvent {
    position: absolute;
    pointer-events: none;
    width: 20%;
    top: 46.7%;
    right: 69%;
    opacity: 0;
    animation: events4 1s normal 6s forwards;
}
@keyframes events4 {
    from{
        opacity: 0;
    }
    to{        
        opacity: 1;        
    }
}

.projects #capEvent {
    position: absolute;
    pointer-events: none;
    width: 23%;
    top: 11.5%;
    right: 63%;
    opacity: 0;
    animation: events5 1s normal 6.4s forwards;
}
@keyframes events5 {
    from{
        opacity: 0;
    }
    to{        
        opacity: 1;        
    }
}
